@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf');
}

body {
	background-image: url("../image/bg-sombre.png");
	filter: brightness(.8) contrast(1.2);
	font-family: Roboto, 'Roboto', 'Gill Sans', sans-serif;
}

.texte {
	color: #FFF;
	text-shadow: 1px 1px 5px #000;
	text-align: justify;
}

.section {
	color: #FFF;
	background-color: #000;
	text-align: justify;
}

.Presentation-Dev{
	color: #FFF;
	text-shadow: 1px 1px 5px #000;
	text-align: justify;
}

.section-title {
	text-shadow: 1px 1px 5px #000;
}

.formulaire {
	text-align: center;
}

.link:hover {
	color: #FFF;
}

.actu-section p {
	background-color: #000;
	text-align: justify;
}
/* 

Changements :
background sombre
images moins lumineuse et contraste plus élevé
changement de police et de la couleur du texte
texte justifié plutôt que centré
changement de l'ombre sur le texte

Page Pourquoi:
Bloc avec un fond noir plutôt que blanc

*/
