body{
    font-family: "Gill Sans", sans-serif;
    background-color: #46276d;
    margin: 0;
    padding: 0;
    display: block;
    background-image: url(../image/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    color: black;
    font-size: 1em;
}

/* File : accueil.html */

/* Introduction */
.introduction {
    height: auto;
    padding-top: 3.6em;
    padding-bottom:2em;
    font-weight: bold;
    text-align: center;
}

.home-text {
    width: 50%;
}

.texte{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 1px 1px 10px #FFF;
}

.texte h2{
    color: #fcb44b;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

/* File : actualite.html */

.section-text  {
    margin: 0 3em;
    font-size:1.25em;
}

.actu-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    margin-right: auto;
    flex-wrap: wrap;
}

.actu-section p {
    background-color: #FFF;
    border: solid 0.2em #fcb44b;
    padding: 1.5em;
}

.actu-section img {
    height: auto;
    width: 90%;
    margin: auto;
    margin-bottom: 2.5em;
}


/* File : contact.html */
.link {
    text-decoration: none;
    color: #fcb44b;
}

.link:hover {
    color: #46276d;
    text-decoration: underline;
}

.formulaire {
    display: flex;
    margin-top: 3em;
    color: #fff;
    text-shadow: none;
}

.form-block {
    flex-direction: row;
    margin-top: 0.8em;
}

input, textarea {
    border: solid 0.2em #fcb44b;
    border-radius: 1em;
}

fieldset {
    background-color: #46276d;
    border: solid 0.35em #fcb44b;
    border-radius: 2em;
}
legend {
    background-color: #46276d;
    border: solid 0.2em #fcb44b;
    border-radius: 1.35em;
    padding: 3px 6px;
    text-align: justify;
}

/* File : page-pourquoi.html */

.titre-avantages{
    text-align:center;
    padding-top:5em;
    color:#fcb44b;
}

.section {
    text-align: center;
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: solid 0.2em;
    border-bottom: solid 0.2em;
    border-color:#fcb44b;
    height: auto;
}

img{
    margin:1em 0 1em 0;
    height:25em;
    border: dashed #fcb44b;
}

.section p{
    margin: 1em 3em;
    font-size:1.25em;
}

.section1{
    margin-bottom:5em;
}

/* File : a-propos.html */
.Presentation-Dev {
    height: auto;
    padding-top: 3.6em;
    padding-bottom:2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 1px 1px 5px #FFF;
}

.section-title{
    color: #fcb44b;
    text-shadow: 1px 1px 5px #FFF;
}

.Presentation-Dev-List li{
    display :flex;
    text-align: center;
    font-size:1.25em;
    line-height:2em;
}

/* Buttons */

.button {
    text-decoration: none;
    text-shadow: none;
    border: solid 0.1em #fcb44b;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    color: #FFF;
    border-radius: 3em;
    word-spacing: 0.2em;
}

.button-foot{
    padding: 0.5em 1em;
    background-color: #46276d;
    margin: 1.5em;
}

.button-foot:hover{
    background: #fcb44b;
}

.submit-btn {
    margin: 0.4em 0 0.5em 0;
    font-size: 1.15em;
    border-radius: 3em;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1.0);
    background-color: #fcb44b;
}

.btn-switch {
    border: solid #fcb44b;
    align-self: center;
}

#retournerenhaut {
    background: #46276d;
    border-radius: 3em;
    border: solid #fcb44b;
    outline: none;
    margin: 0 3em 3em 0;
    position: fixed;
    right: 10px;
    bottom: -1em;
}

i {
    color: #fff;
}


/* Navbar */

.header {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #46276d;
}

.header li a {
    border-bottom: solid 0.2em #fcb44b;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #fcb44b;
    border-bottom: solid 0.2em #FFF;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: #46276d;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 20em;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* Footer */

.footer{
    background-color:#46276d;
    color:white;
    text-align:center;
    height:auto;
    padding-top:1em;
    padding-bottom:2em;
    margin-top:2.5em;
    border-top: solid 0.2em #fcb44b;
}

.btns-foot {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link-btn {
    text-decoration: none;
    color: #FFF;
}

.footer-menu p{
    margin-top:2em;
    margin-bottom:2em;
}

.footer-plan{
    margin:2em 0 2em 0;
}

.footer-menu li a{
    text-decoration:none;
    color:white;
}

.footer-menu li a:hover {
    text-decoration: underline;
}

.footer-menu li {
    list-style: none;
}

.footer-contact-button{
    margin-top:3.5em;
}
