@media (min-width: 740px) {

    /* header */
    .header ul {
        background-color: #46276d;
    }
    .header li {
        background: #46276d;
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        display: flex;
        justify-content: space-evenly;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    /* footer */

    .footer-plan{
        margin:0;
    }

    /* body */
    .texte h2{
        font-size:2.2em;
    }

    .texte p{
        font-size: 1.5em;
    }

    .section-text {
        margin:0 7em 0 7em;
    }

    .paragraph{
        margin:0 7em 0 7em;
    }

    img {
        margin:1em 0 1em 2em;
        height:35em;
    }

    .section p{
        margin-right:2em;
        margin-left: 3em;
        height:auto;
        font-size:1.3em;
        align-self:center;
    }

    .actu-section img {
        margin-left: 5em;
        height: 35em;
        width: auto;
    }

    /* File : Contact */
    fieldset {
        width: 30em;
    }
}

@media (min-width: 1280px) {

    .section {
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .actu-section {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .footer{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content: space-evenly;
        text-align:center;
    }
    
    .button-foot {
        margin: 0;
    }
}
